NODE_ENV=development
PORT=5000
MONGODB_URI=mongodb+srv://jayapriya:jay123@hrms.etv3fte.mongodb.net/hrms?retryWrites=true&w=majority
JWT_SECRET=your_super_secret_jwt_key_change_in_production
JWT_REFRESH_SECRET=your_super_secret_refresh_key_change_in_production
JWT_EXPIRE=1d
JWT_REFRESH_EXPIRE=7d
FRONTEND_URL=http://localhost:5173
